.about-us-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #173b45;
  background-color: #e7d3b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17rem 0;

  .content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 17rem;

    .row {
      width: 50%;

      .sub-heading {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.1em;
      }

      .heading {
        margin: auto;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 5.6rem;
        letter-spacing: 0.1em;
        padding: 3rem 0;
      }

      .text {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        white-space: pre-line;
        text-align: justify;
      }
    }

    .stats {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .stat {
        width: 100%;
        border-bottom: 1px solid #173b45;
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .number {
          width: 30%;
          text-align: right;
          font-family: 'Roboto Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 4.8rem;
          letter-spacing: 0.1em;
        }

        .text {
          width: 60%;
          font-family: 'Roboto Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .image-section {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .img-container {
      width: 35%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .text-container {
      width: 50%;
      align-content: center;

      .quote {
        font-size: 5rem;
        margin-right: 2rem;
      }

      .heading {
        margin: auto;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.1em;
      }
    }
  }
}

.why-us-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #e7d3b2;
  background-color: #173b45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17rem 0;

  .content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 17rem;

    .column {
      width: 50%;

      .sub-heading {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
      }

      .heading {
        margin: auto;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.1em;
        padding: 3rem 0;
      }
    }

    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .item {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          font-size: 5rem;
        }

        .text {
          font-family: 'Roboto Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1em;
          text-align: center;
        }
      }
    }
  }

  .image-section {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .img-container {
      width: 35%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .text-container {
      width: 50%;
      align-content: center;

      .quote {
        font-size: 5rem;
        margin-right: 2rem;
      }

      .heading {
        margin: auto;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.1em;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .about-us-section {
    padding: 12rem 0;

    .content {
      width: 75%;
      padding-bottom: 12rem;

      .row {
        .heading {
          font-size: 4rem;
          line-height: 4.6rem;
        }
      }

      .stats {
        .stat {
          font-size: 4rem;
          line-height: 4rem;
        }
      }
    }

    .image-section {
      flex-direction: column;
      align-items: center;

      .img-container {
        width: 90%;
        margin-bottom: 6rem;
      }

      .text-container {
        text-align: center;
        width: 80%;

        .quote {
          font-size: 4rem;
        }

        .heading {
          font-size: 4rem;
          line-height: 4.6rem;
        }
      }
    }
  }

  .why-us-section {
    padding: 12rem 0;

    .content{
      width: 75%;
      padding-bottom: 12rem;

      .column{
        .heading {
          font-size: 4rem;
          line-height: 4.6rem;
        }
      }
    }

    .image-section {
      flex-direction: column;
      align-items: center;

      .img-container {
        width: 90%;
      }

      .text-container {
        text-align: center;
        width: 80%;
        margin-bottom: 6rem;

        .quote {
          font-size: 4rem;
        }

        .heading {
          font-size: 4rem;
          line-height: 4.6rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about-us-section {
    .content {
      flex-direction: column;
      align-items: center;
      padding-bottom: 6rem;

      .row {
        width: 90%;
      }

      .stats {
        padding-top: 6rem;
        width: 60%;

        .stat {
          font-size: 4rem;
          line-height: 4rem;
        }
      }
    }
  }

  .why-us-section{
    .content{
      flex-direction: column;
      align-items: center;
      padding-bottom: 6rem;

      .column{
        width: 90%;
      }

      .list{
        padding-top: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-us-section {
    .content {
      width: 80%;
    }

    .image-section {
      width: 80%;
    }
  }
  .why-us-section {
    .content {
      width: 80%;
      
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;

        .item {
          width: 90%;
        }
      }
    }
    .image-section {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 470px) {
  .about-us-section {
    padding: 6rem 0;

    .content {
      width: 90%;

      .row {

        .sub-heading {
          font-size: 2rem;
          line-height: 2.4rem;
        }

        .text {
          font-size: 2rem;
          line-height: 2.4rem;
        }
      }

      .stats {
        width: 80%;

        .stat {
          .number {
            font-size: 32px;
            line-height: 36px;
          }
          .text {
            font-size: 1.8rem;
            line-height: 2.2rem;
          }
        }
      }
    }

    .image-section {
      .text-container {
        .quote {
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
  }

  .why-us-section {
    padding: 6rem 0;

    .image-section {
      .text-container {
        .quote {
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
  }
  .why-us-section {
    .content {
      width: 90%;

      .column{
        width: 90%;

        .sub-heading {
          font-size: 2rem;
          line-height: 2.4rem;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        .item {
          width: 90%;
          .text {
            margin-top: -6px;
          }
        }
      }
    }
    .image-section {
      .text-container {
        width: 90%;
      }
    }
  }
}
