.input-container{
    margin-bottom: 3rem;  
    position: relative;  
    .input {
        position: relative;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 2.4rem;
        letter-spacing: 0.1em;
        margin-bottom: 3rem;
        
        &__label {
            position: absolute;
            left: 0;
            padding: 1rem;
            margin: 1rem;
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            transition: all 120ms ease-in;
            font-weight: bold;
            line-height: 1.2;
            background: #E7D3B2;
            color: #173b4579;
        }

        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */ 
            &__label {
                top: -6rem;
            }
        }

        @supports not (-webkit-touch-callout: none) {
            /* CSS for other than iOS devices */ 
            &__label {
                top: 0rem;
            }
        }

        &__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 1px solid #173B45;
            padding: 1.9rem;
            color: #173B45;
            background: transparent;
            border-radius: 10px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.1em;
            
            &:focus,
            &:not(:placeholder-shown) {
                & + .input__label {
                    transform: translate(.25rem, -65%) scale(.8);
                    color: #173B45;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .input-container{
      margin-bottom: 2rem;  

      .input{
        font-size: 1.4rem;
        line-height: 2rem;

        &__label{
            padding: 0.8rem;
            margin: 0.8rem;
        }

        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */ 
            &__label {
                top: -4.7rem;
            }
        }

        @supports not (-webkit-touch-callout: none) {
            /* CSS for other than iOS devices */ 
            &__label {
                top: 0rem;
            }
        }

        &__field {
            padding: 1.3rem;
        }
      }
    }
    
}