.order-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #173B45;
  border-bottom: 1px solid #173B45;
  padding-bottom: 2rem;

  &:not(:first-of-type){
    margin-top: 2rem;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
  }

  .other-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;

    .amount{
      font-size: 2rem;
    }
  }

  .product-details {
    width: 90%;
    margin: 3rem auto;

    table {
      width: 100%;
    }

    table tr {
      width: 100%;
      justify-content: space-between;

      td {
        text-align: center;
      }
    }
  }
  .cart-card {
    border-bottom: none;
  }
}