.uni-contact {
  position: fixed;
  width: 8rem;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding: 2rem 1rem;
  gap: 1.5rem;
  border-radius: 2rem 0 0 2rem;
  animation: bg 1.5s linear 0s infinite alternate;

  .whatsapp {
    color: #075E54;
    font-size: 4rem;
  }

  .call {
    color: #004165;
  }

  .location {
    color: #822F2B;
  }

  .mail {
    color: #1e1e1e;
  }

  .text {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

@keyframes bg {
  0% {
    background: #fffff0;
  }
  100% {
    background: #b4b4b4;
  }
}