.special-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: #173b45;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .product {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

    .img-container {
      position: relative;
      width: 30%;
      z-index: 10;

      img {
        width: 100%;
      }
    }

    .name {
      position: absolute;
      z-index: 5;
      font-size: 18rem;
      font-family: 'Bonheur Royale', serif;
      font-weight: normal;
      font-style: normal;
      color: #386a78;
      text-shadow: 0 8px 32px #386a78;
      top: -10rem;
      text-align: center;
    }
  }

  .product-details {
    width: 35%;
    border-radius: 10px;
    background: #386a78;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    color: #e7d3b2;
    padding: 3rem 4rem;

    .heading {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      padding-bottom: 3rem;
    }

    .text {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.1em;
      padding-bottom: 2rem;
    }

    .strikeThrough {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-decoration: line-through;
      color: #e7d3b27f;
    }

    .price {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.1em;
    }

    .price-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button {
      color: #386a78;
      outline: none;
      border: 1px solid #e7d3b2;
      transition: all 0.5s;
      background-color: #e7d3b2;
      border-radius: 10px;
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.1em;
      padding: 1.5rem 2rem;

      &:hover,
      &:active {
        background: #386a78;
        color: #e7d3b2;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .special-section {
    .product{
      .img-container{
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .special-section {
    padding: 0 5%;
    .product-details {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 470px) {
  .special-section {
    flex-direction: column;
    justify-content: space-around;
    
    .product {
      .img-container {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .name{
        font-size: 15rem;
        line-height: 7rem;
      }
    }
    .product-details {
      width: 90%;
      .heading {
        font-size: 3rem;
        line-height: 3.6rem;
        padding-bottom: 1rem;
      }

      .text{
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 1rem;
      }

      .strikeThrough{
        font-size: 14px;
        line-height: 18px;
      }

      .price{
        font-size: 2.4rem;
        line-height: 2.8rem;
      }
    }
  }
}
